<!DOCTYPE html>
<html>
    <head>
        <title>
            My 404 page  
        </title>
        <link rel="icon" href="/images/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

        <body>
            <div class="main-content">
                {{>header}}
                <p>{{textArea}}</p>
            </div>
            
            {{>footer}}
        </body>
    </head>
</html>